#<% %> ruby that gets run on the page
#<%= %> ruge that generates results

<%
fillings = ["red", "green", "yellow"]
 %>



<h1> TACOS!!<h1>
<ul>
    <% for filling in fillings %>
    <li><%= filling %></li>
    <% end %>
</ul>


